.dot {
    height: 35%;
    width: 35%;
    background-color: var(--dots);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.selected {
    background-color: green;
}

.box {
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    z-index: -1;
}

.colored {
    background-color: var(--team);
}

.grid-dots {
    margin: 50px;
    display: grid;
    position: fixed;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    z-index: 1;
}

.grid-boxes {
    margin: 56px;
    display: grid;
    position: fixed;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    z-index: -1;
}
