:root {
 --body: #222831;
 --dots: #EEEEEE;
 --team: #90dfe3;
 --enemy: #FF6969;
 --line: #FFF5E1;
 --select: #ffff01;
}

html {
  background-color: var(--body);
}

.title {
  font-family: "Comic Neue";
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: var(--dots);
}
